body{
 background-color: black;
 font-family: "Creepster", system-ui;
 text-align: center;
}

.header{
    display:flex;
    justify-content: right;
}

.main{
    display:flex;
    justify-content: space-between;
}

.main-center{
    display:flex;
    text-align: center;
}

h3 {
    font-family: "Creepster", system-ui;
    color: #FFFF;
    text-align: center;
    font-size: 27;
}

h2{
    font-family: "Creepster", system-ui;
    color: #FF5900;
    text-align: center;
    font-size: 50px;
}

h1{
    font-family: "Creepster", system-ui;
    color: #FF5900;
    text-align: center;
    font-size: 100px;
}

p{
    font-family: "Creepster", system-ui;
    color: #FFFF;
    text-align: center;
    font-size: 14px;
}

img.ghost {
    max-width: 640px;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}

img.ghost {
    max-width: 640px;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    display: flex;
}

footer{
    display:flex;
    justify-content: left;
}