body{
 background-color: black;
 font-family: "Creepster", system-ui;
 text-align: center;
 transition: background-color 0.5s ease;
}

.header{
    display:flex;
    justify-content: right;
}

.main{
    display:flex;
    justify-content: space-between;
}

.main-center{
    display:flex;
    text-align: center;
}

h3 {
    font-family: "Creepster", system-ui;
    color: #FFFF;
    text-align: center;
    font-size: 27px;
    display: flex;
}

h2{
    font-family: "Creepster", system-ui;
    color: #FF5900;
    text-align: center;
    font-size: 50px;
}

h1{
    font-family: "Creepster", system-ui;
    color: #FF5900;
    text-align: center;
    font-size: 100px;
}

p{
    font-family: "Creepster", system-ui;
    color: #FFFF;
    text-align: center;
    font-size: 14px;
}


.ghost {
    display: flex;
    width: 210px;
    animation: ghostKey 3s ease-in-out infinite;
}
@keyframes ghostKey {
    0%{
        transform: translateY(0px) rotate(10deg) ;

    }
    50%{
        transform: translateY(-50px rotate(0deg)) ;
    }
    100%{
        transform: translateY(0px)  rotate(90deg);
    }
    
}

.footer-center {
    font-family: "Creepster", system-ui;
    color: #FFFF;
    text-align: center;
    display: flex;

}

.pumkin-img {
    width: 50px;
    text-align: center;
}

button{
    width: 100px;
    height: 10px;
}

footer{
    display:flex;
    justify-content: left;
}


